<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="Recipes.Common.MySection, Recipies"/>
  </configSections>
  <mySection>
    <items>
      <item name="Subsection1" >
        <subitem firstproperty="1" secondproperty="test1" />
        <othersub firstproperty="500" />
      </item>
      <item name = "Subsection2" >
        <subitem firstproperty="1" secondproperty="test2" />
        <othersub firstproperty="500" />
      </item>
    </items>
  </mySection>
</configuration>